.form-wrapper {
    width: 20rem;
    justify-self: center;
    align-self: center;
}
.image {
    width: 15.625rem;
    margin-left: 2.1875rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.invalid {
    color: red;
    font-size: .8125rem;
    text-align: center;
}