.table-wrapper {
    margin: 1.25rem;
    width: 60rem !important;
    align-self: center;
}

@media only screen and (max-width: 50rem) {
    .table-wrapper {
        width: 12.5rem !important;
        text-align: center;
    }
}